* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-image: url("../images/backcover.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
}

.main-div {
  margin-left: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.nav-items {
  display: flex;
  gap: 40px;
}

nav img {
  width: 100px;
}

.signin-btn {
  margin-right: 150px;
  padding: 6px 20px;
  font-size: 12px;
  border-radius: 20px;
  color: #fff;
  background: linear-gradient(90deg, #965cf2, #ff8adc);
  border: 0;
}

.intro-section {
  display: flex;
}

.left-section {
  /* position: relative; */
  margin-top: 130px;
}

.left-section h1 {
  font-size: 65px;
  font-weight: bolder;
  color: rgb(75, 75, 191);
  margin-right: 0px;
}

.intro-section h4 {
  margin: 50px 0;
  width: 300px;
  font-size: 14px;
  font-weight: 300;
  color: gray;
  line-height: 20px;
}

.learn-more-btn {
  font-size: 20px;
  padding: 12px 32px;
  border-radius: 30px;
  background: linear-gradient(90deg, #965cf2, #ff8adc);
  color: #fff;
  border: 0;
  margin-top: 20px;
}

.intro-section .imgs-div {
  position: relative;
}

.intro-section .imgs-div img:nth-child(1) {
  position: absolute;
  bottom: -150px;
  left: 250px;
}

.intro-section .imgs-div img:nth-child(2) {
  position: absolute;
  bottom: -80px;
  left: 300px;
}

.intro-section .imgs-div img:nth-child(3) {
  position: absolute;
  top: 18px;
  left: 240px;
  width: 680px;
}
